<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">

  <div class=" sm:col md:col-9 lg:col">
    <p-fieldset legend="i18nSelect Pipe"  [toggleable]="true">
      Saludos {{nombre}}, es un placer {{genero | i18nSelect: invitacionMapa}} al evento!!
  </p-fieldset>
  </div>

  <div class=" sm:col md:col-9 lg:col">
    <p-fieldset legend="i18nplural Pipe"  [toggleable]="true">
      Actualmente {{clientes.length| i18nPlural: clientesMapa}}
  </p-fieldset>
  </div>

</div>
